<div class="login-container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>
                    <fa-icon [icon]="['fab', 'raspberry-pi']"></fa-icon>&nbsp;&nbsp;Sign In
                </h3>
                <div class="d-flex justify-content-end social_icon">
                    <span>
                        <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
                    </span>
                    <span>
                        <fa-icon [icon]="['fab', 'google-plus-square']"></fa-icon>
                    </span>
                    <span>
                        <fa-icon [icon]="['fab', 'twitter-square']"></fa-icon>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="['fas', 'user']"></fa-icon>
                        </span>
                    </div>
                    <input name="username" type="text" class="form-control" placeholder="username"
                        [(ngModel)]="username">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="['fas', 'key']"></fa-icon>
                        </span>
                    </div>
                    <input name="password" type="password" class="form-control" placeholder="password"
                        [(ngModel)]="password">
                </div>
                <div class="row align-items-center remember">
                    <input type="checkbox">Remember Me
                </div>
                <div class="form-group">
                    <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
                    <button class="btn float-right login_btn" (click)="doSubmit()">Login</button>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="/login">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/login">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>