<div class="athena-settings-root">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0)" [ngClass]="{'active': tapActiveIndex == 0}"
                        (click)="tapActiveIndex = 0">Local</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0)" [ngClass]="{'active': tapActiveIndex == 1}"
                        (click)="tapActiveIndex = 1">Watson</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div *ngIf="tapActiveIndex == 0" class="tab-pane fade d-flex athena-settings-card-parent show active">
                <div class="card">
                    <div class="card-body" [formGroup]="internalForm">
                        <div class="mb-3 row">
                            <label for="internalMqttUrlID" class="col-sm-3 col-form-label">MQTT URL</label>
                            <div class="col-sm-9">
                                <div class="input-group has-validation">
                                    <span class="input-group-text">mqtt://</span>
                                    <input id="internalMqttUrlID" formControlName="mqttUrl" type="text" maxlength="100"
                                        required class="form-control"
                                        [ngClass]="{'is-invalid': internalForm.get('mqttUrl')?.invalid}"
                                        placeholder="xxx.xxx.xxx.xxx:xxxx">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="internalUserNameID" class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <input id="internalUserNameID" formControlName="userName" type="text" maxlength="40"
                                    class="form-control"
                                    [ngClass]="{'is-invalid': internalForm.get('userName')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="internalPasswordID" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input id="internalPasswordID" formControlName="password" type="password" maxlength="40"
                                    class="form-control"
                                    [ngClass]="{'is-invalid': internalForm.get('password')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="button" class="btn btn-primary me-3" (click)="saveInternal()">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Save
                            </button>
                            <button type="button" class="btn btn-secondary ms-3" (click)="resetInternal()">
                                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tapActiveIndex == 1" class="tab-pane fade d-flex athena-settings-card-parent show active">
                <div class="card">
                    <div class="card-body" [formGroup]="watsonForm">
                        <div class="mb-3 row">
                            <label for="watsonOrgIdID" class="col-sm-3 col-form-label">Org Id</label>
                            <div class="col-sm-9">
                                <input id="watsonOrgIdID" formControlName="orgId" type="text" maxlength="100" required
                                    class="form-control" [ngClass]="{'is-invalid': watsonForm.get('orgId')?.invalid}"
                                    placeholder="xxx.xxx.xxx.xxx:xxxx">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="watsonUserNameID" class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <input id="watsonUserNameID" formControlName="userName" type="text" maxlength="40"
                                    required class="form-control"
                                    [ngClass]="{'is-invalid': watsonForm.get('userName')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="watsonPasswordID" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input id="watsonPasswordID" formControlName="password" type="password" maxlength="40"
                                    required class="form-control"
                                    [ngClass]="{'is-invalid': watsonForm.get('password')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 text-center">
                            <button type="button" class="btn btn-primary me-3" (click)="saveWatson()">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Save
                            </button>
                            <button type="button" class="btn btn-secondary ms-3" (click)="resetWatson()">
                                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div class="toast fade" [ngClass]="{'show': toastActiveIndex == 1}">
            <div class="toast-header">
                <fa-icon [icon]="['fas', 'check-circle']" size="2x" class="text-success"></fa-icon>
                <strong class="me-auto ms-2">Saved Successfully</strong>
                <small>just now</small>
                <button type="button" class="btn-close" (click)="toastActiveIndex = 0"></button>
            </div>
            <div class="toast-body">
                The data has been saved successfully.
            </div>
        </div>
        <div class="toast fade" [ngClass]="{'show': toastActiveIndex == 2}">
            <div class="toast-header">
                <fa-icon [icon]="['fas', 'times-circle']" size="2x" class="text-danger"></fa-icon>
                <strong class="me-auto ms-2">Processing failed</strong>
                <small>just now</small>
                <button type="button" class="btn-close" (click)="toastActiveIndex = 0"></button>
            </div>
            <div class="toast-body">
                Business processing failed.
            </div>
        </div>
    </div>
</div>