.athena-settings-root {
    padding: 10px;
}

.athena-settings-card-parent {
    flex-flow: column;
    align-items: center;
}

.athena-settings-card-parent > div.card {
    max-width: 500px;
    width: 100%;
}
