<div class="athena-settings-root">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link connect-spinner-parent" href="javascript: void(0)"
                        [ngClass]="{'active': tapActiveIndex == 1}" (click)="tapActiveIndex = 1">Internal <span
                            *ngIf="connectActiveIndex == 1" class="bg-success"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link connect-spinner-parent" href="javascript: void(0)"
                        [ngClass]="{'active': tapActiveIndex == 2}" (click)="tapActiveIndex = 2">Watson <span
                            *ngIf="connectActiveIndex == 2" class="bg-success"></span></a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div *ngIf="tapActiveIndex == 1" class="tab-pane fade d-flex card-parent show active">
                <div class="card">
                    <div class="card-img-top card-img-top-internal">
                        <img src="assets/images/card-internal.png" alt="Internal">
                    </div>
                    <div class="card-body" [formGroup]="internalForm">
                        <h5 class="card-title text-center mb-3">Broker Connection</h5>
                        <div class="mb-3 row">
                            <label for="internalHostID" class="col-sm-3 col-form-label">Host</label>
                            <div class="col-sm-9">
                                <input id="internalHostID" formControlName="host" type="text" maxlength="100" required
                                    class="form-control" [ngClass]="{'is-invalid': internalForm.get('host')?.invalid}"
                                    placeholder="xxx.xxx.xxx.xxx">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="internalPortID" class="col-sm-3 col-form-label">Port</label>
                            <div class="col-sm-9">
                                <input id="internalPortID" formControlName="port" type="text" maxlength="5"
                                    class="form-control" [ngClass]="{'is-invalid': internalForm.get('port')?.invalid}"
                                    placeholder="1883">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="internalUserNameID" class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <input id="internalUserNameID" formControlName="userName" type="text" maxlength="40"
                                    class="form-control"
                                    [ngClass]="{'is-invalid': internalForm.get('userName')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="internalPasswordID" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input id="internalPasswordID" formControlName="password" type="password" maxlength="40"
                                    class="form-control"
                                    [ngClass]="{'is-invalid': internalForm.get('password')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 text-center d-sm-block d-grid gap-2">
                            <button type="button" class="btn btn-success mx-sm-3" (click)="connectInternal()">
                                <fa-icon [icon]="['fas', 'charging-station']"></fa-icon> Connect
                            </button>
                            <button type="button" class="btn btn-primary mx-sm-3" (click)="saveInternal()">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Save
                            </button>
                            <button type="button" class="btn btn-secondary mx-sm-3" (click)="resetInternal()">
                                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tapActiveIndex == 2" class="tab-pane fade d-flex card-parent show active">
                <div class="card">
                    <div class="card-img-top card-img-top-watson">
                        <img src="assets/images/card-watson.png" alt="Watson">
                    </div>
                    <div class="card-body" [formGroup]="watsonForm">
                        <h5 class="card-title text-center mb-3">Watson Connection</h5>
                        <div class="mb-3 row">
                            <label for="watsonOrgIdID" class="col-sm-3 col-form-label">Org Id</label>
                            <div class="col-sm-9">
                                <input id="watsonOrgIdID" formControlName="orgId" type="text" maxlength="10" required
                                    class="form-control" [ngClass]="{'is-invalid': watsonForm.get('orgId')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="watsonUserNameID" class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <input id="watsonUserNameID" formControlName="userName" type="text" maxlength="40"
                                    required class="form-control"
                                    [ngClass]="{'is-invalid': watsonForm.get('userName')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="watsonPasswordID" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input id="watsonPasswordID" formControlName="password" type="password" maxlength="40"
                                    required class="form-control"
                                    [ngClass]="{'is-invalid': watsonForm.get('password')?.invalid}">
                            </div>
                        </div>
                        <div class="mb-3 text-center d-sm-block d-grid gap-2">
                            <button type="button" class="btn btn-success mx-sm-3" (click)="connectWatson()">
                                <fa-icon [icon]="['fas', 'charging-station']"></fa-icon> Connect
                            </button>
                            <button type="button" class="btn btn-primary mx-sm-3" (click)="saveWatson()">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Save
                            </button>
                            <button type="button" class="btn btn-secondary mx-sm-3" (click)="resetWatson()">
                                <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div class="toast fade" [ngClass]="{'show': toastActiveIndex == 1}">
            <div class="toast-header">
                <fa-icon [icon]="['fas', 'check-circle']" size="2x" class="text-success"></fa-icon>
                <strong class="me-auto ms-2">Saved Successfully</strong>
                <small>just now</small>
                <button type="button" class="btn-close" (click)="toastActiveIndex = 0"></button>
            </div>
            <div class="toast-body">
                The data has been saved successfully.
            </div>
        </div>
        <div class="toast fade" [ngClass]="{'show': toastActiveIndex == 2}">
            <div class="toast-header">
                <fa-icon [icon]="['fas', 'times-circle']" size="2x" class="text-danger"></fa-icon>
                <strong class="me-auto ms-2">Processing failed</strong>
                <small>just now</small>
                <button type="button" class="btn-close" (click)="toastActiveIndex = 0"></button>
            </div>
            <div class="toast-body">
                Business processing failed.
            </div>
        </div>
    </div>
</div>