@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.athena-settings-root {
    padding: 10px;

    .card-header {
        .connect-spinner-parent {
            position: relative;

            span {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                box-shadow: 0 0 8px #198754;
                position: absolute;
                right: 3px;
            }
        }
    }

    div.card-img-top {
        height: 65px;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
        }
    }

    div.card-img-top-internal {
        background-image: linear-gradient(to right, #c5efe6, #75dcc8, #c5efe6);
    }

    div.card-img-top-watson {
        background-image: linear-gradient(to right, #d3e0fc, #a9bdea, #d3e0fc);
    }

    .message-parent {
        display: flex;
        flex-flow: column;

        div.card {
            flex: 1;
        }
    }
}

@include media-breakpoint-down(sm) {
    .athena-settings-root {
        div.card-img-top {
            height: 45px;

            fa-icon {
                font-size: 10px;
            }
        }
    }
}
