<nav class="navbar navbar-expand-md text-uppercase text-white athena-bg-navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-light d-md-none" href="#">
            <fa-icon size="lg" [icon]="['fas', 'bars']"></fa-icon>
        </a>
        <a class="navbar-brand text-light" href="#">
            <img class="img-logo" src="assets/images/logo.png" alt="">Raspberry Pi</a>
        <a href="#">
            <img class="athena-img-user" src="assets/images/user_default.png" alt="User"></a>
    </div>
</nav>
<main>
    <aside></aside>
</main>